* {
  font-family: "Roboto", sans-serif;
}

.header-group {
  justify-content: space-between;
  align-items: center;
}

thead tr {
  border-top: hidden;
}

.no-grades-row {
  background-color: white;
}

.add-grade {
  font-weight: 300;
}

.avg-grade {
  color: #7a7a7a;
}

.delete-btn {
  background-color: rgb(255, 99, 58);
}

.update-btn {
  background-color: rgb(10, 132, 255);
}
